@{
    ViewData["Title"] = "Home Page";
}
@model List<System.Drawing.Bitmap>

<h2>UploadFile</h2>
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <div class="mb-3">
        <input type="file" name="file" class="form-control"/>
    </div>
    <div class="mb-3">
        <input type="submit" value="Upload File" class="btn btn-primary" />
    </div>
    <span class="text-success">

    </span>        
</form>
<div>
    @foreach (var bitmap in Model)
    {
        using (var ms = new System.IO.MemoryStream())
        {
            bitmap.Save(ms, System.Drawing.Imaging.ImageFormat.Png);
            var imageBytes = ms.ToArray();
            var base64String = Convert.ToBase64String(imageBytes);
            var imgSrc = $"data:image/png;base64,{base64String}";

            <div>
                <img src="@imgSrc" alt="Bitmap Image" />
            </div>
        }
    }
</div>

